@import "tailwindcss";

/* Root theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Font families from Google Fonts */
  --font-anek-bangla: "Anek Bangla", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
}

/* Base styles */
body {
  color: var(--foreground);
  font-family: var(--font-work-sans); /* Default font */
}

/* Font utility classes */
.font-poppins {
  font-family: var(--font-poppins);
}

.font-anek {
  font-family: var(--font-anek-bangla);
}

.font-work {
  font-family: var(--font-work-sans);
}

